people.json
bot_tokens.json
test.py
test2.py
penislength
count

__pycache__

pymodules
.DS_Store

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim
Sessionx.vim

.netrwhist
*~
tags
[._]*.un~
